@import '../../Variables.scss';

.summary {
    background-color: #f0f4ff;
    border-radius: 16px;
    padding: 20px;
    margin: 30px 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

    .title {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 12px;
        color: #2c3e50;
    }

    p {
        margin: 6px 0;
        font-size: 16px;
    }
}

.header,
.user-answer,
.explanation {
    margin: 20px 0;

    .title {
        margin-bottom: 10px;
    }
}

.question {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}

.answer {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 5px;
    height: 40px;
    display: flex;
    align-items: center;
}

.correct {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
}

.incorrect {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
}

.user-correct {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
}
