@import '../../Variables.scss';

.wrapper {
    max-width: 1000px;
    margin: 0px auto 50px;
}

.header {
    text-align: center;

    > h1 {
        padding-top: 10px;
    }

    > p {
        margin: 10px 0;
    }
}

.action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin: 0 20px 20px;
}

.question {
    display: flex;
    align-items: end;
    gap: 20px;
}

.answer {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.modal-content {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    > span {
        font-size: 16px;
    }
}

.submit {
    text-align: center;
    margin-top: 40px;
}
