.wrapper {
    box-shadow: 0 0 10px 1px rgb(0 0 0 / 17%);
    border-radius: 10px;
    width: 20%;
}

.navbar {
    padding: 1.5rem;
}

.navbar-item {
    padding: 15px 0;
    position: relative;
    font-weight: 700;
}

.icon {
    position: absolute;
}

.navbar-link:not(:nth-child(1)) {
    margin-left: 30px;
}

.navbar-link {
    color: #000;
    cursor: pointer;

    &:visited {
        color: #000;
    }
}
