@import '../../Variables.scss';

.wrapper {
    &::after {
        content: '';
        width: 1px;
        height: 100vh;
        border-right: 1px solid #000;
        position: absolute;
        top: 0;
        right: 0;
    }
}

.navbar {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 1.5rem;
}

.navbar-mobile {
    display: none;
}

.navbar-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
    position: relative;
    font-weight: 700;

    &:not(:first-child):hover {
        background-color: #e6f7ff;
    }

    .icon {
        color: #007bff;
    }

    .navbar-link {
        text-decoration: none;
        color: #333;
        font-size: 1rem;
        font-weight: 500;
        display: block;
        width: 100%;
        height: 100%;

        &:hover {
            color: #0056b3;
        }
    }

    &.active {
        background-color: #e6f7ff;
        .navbar-link {
            color: #0056b3;
        }
        .icon {
            color: #0056b3;
        }
    }
}

.navbar-link:not(:nth-child(1)) {
    margin-left: 30px;
}

.navbar-link {
    color: #000;
    cursor: pointer;

    &:visited {
        color: #000;
    }
}

@media (min-width: $breakpoint-sm) {
    .wrapper {
        width: 20%;
        position: fixed;
        background-color: #fff;
    }
}

@media (max-width: $breakpoint-sm) {
    .wrapper {
        width: 100%;
        position: relative;

        &::after {
            content: unset;
        }
    }
    .navbar {
        display: none;
    }

    .navbar-link {
        font-size: 20px;
    }

    .navbar-mobile {
        display: block;
    }

    .navbar-mobile-title {
        text-align: center;
        font-weight: bold;
        font-size: 16px;
        border: 1px solid black;
        border-radius: 5px;
        padding: 15px;
        width: 80%;
        margin: 0 auto;
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;
    }

    .navbar-mobile-menu {
        width: 100%;
    }

    .navbar-mobile-menu.active {
        .navbar-mobile-dropdown {
            display: flex;
            flex-direction: column;
        }
    }

    .navbar-mobile-dropdown {
        display: none;
        position: absolute;
        width: 80%;
        background-color: #fff;
        border: 1px solid black;
        border-radius: 5px;
        z-index: 9;
        left: 50%;
        top: 110px;
        transform: translateX(-50%);

        .navbar-item {
            padding: 15px 20px;
            gap: 20px;
        }

        .navbar-item:not(:last-child) {
            border-bottom: 1px solid black;
        }
    }

    .icon {
        position: relative;
    }
}

@media (min-width: $breakpoint-sm) {
    .navbar-item {
        .icon {
            position: absolute;
        }
    }
}
