@import '../../Variables.scss';

.wrapper {
    border: none;
    cursor: pointer;
    padding: 10px 20px;
}

.blue.hover:hover {
    background-color: unset;
    border: 2px solid $primary-color;
    color: $primary-color;
}

.blue {
    background-color: $primary-color;
    color: $btn-primary;
    border-radius: 20px;
    font-weight: 700;
    border: 2px solid $primary-color;
}

.primary.hover:hover {
    background-color: #000;
    color: $btn-primary;
    border: 2px solid #000;
}

.outline.hover:hover {
    background-color: #000;
    color: #fff;
    border: 2px solid #000;
}

.black {
    background-color: #000;
    color: white;
    border-radius: 20px;
    font-weight: 700;
    border: 2px solid #00000000;
}

.primary {
    color: #000;
    background-color: $btn-primary;
    border-radius: 20px;
    font-weight: 700;
    border: 2px solid #00000000;
}

.outline {
    border: 2px solid $btn-primary;
    color: $btn-primary;
    border-radius: 20px;
    font-weight: 700;
    background-color: unset;
}

.blueOutline {
    border: 2px solid $primary-color;
    border-radius: 20px;
    font-weight: 700;
    background-color: unset;
}

.large {
    padding: 15px 40px;
    border-radius: 40px;
}

.fullWidth {
    width: 100%;
}

.shadow {
    box-shadow: $primary-box-shadow;
}
