@import '../../Variables.scss';

.scroll-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    cursor: pointer;
}

.scroll-top.active {
    display: block;
}

.icon {
    color: $primary-color;
    background-color: #fff;
    box-shadow: 0px 0px 30px #ababab;
    -webkit-box-shadow: 0px 0px 30px #ababab;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    padding: 15px;
}
