@import '../../Variables.scss';

.header {
    text-align: center;

    > h1 {
        padding-top: 10px;
    }

    > p {
        margin: 10px 0;
    }
}

.action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin-bottom: 20px;
}

.modal {
    max-width: 450px;
    text-align: center;
    margin: auto;
}

.modal h2 {
    font-size: 20px;
    color: #333333;
    margin-bottom: 10px;
}

.modal p {
    font-size: 14px;
    color: #666666;
    margin-bottom: 20px;
}

.modal .actions {
    display: flex;
    justify-self: center;
    gap: 30px;
}

.modal .actions button:first-child {
    background-color: #afafaf;
    color: #fff;
    border: none;
    transition: background-color 0.3s ease;
}

.modal .actions button:first-child:hover {
    background-color: #808080;
}

.modal .action button {
    flex: 1;
}

@media (max-width: $breakpoint-xxs) {
    .action {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin-top: 20px;
    }
}
