@import '../../Variables.scss';

.wrapper {
    padding-top: 1.5rem;
}

.content {
    width: 100%;
}

@media (min-width: $breakpoint-sm) {
    .wrapper {
        width: 80%;
        margin-bottom: 50px;
    }
}

@media (max-width: $breakpoint-sm) {
    .wrapper {
        width: 100%;
        margin-left: 0;
    }
}
