@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&family=Henny+Penny&family=Playwrite+IN:wght@100..400&display=swap');
$playWrite: 'Playwrite IN', sans-serif;
$dongle: 'Dongle', sans-serif;
$henryPenny: 'Henny Penny', sans-serif;

@media only screen and (min-width: 768px) {
    .wrapper {
        .banner {
            display: flex;
            width: 100%;
            height: 50rem;
            background-image: linear-gradient(180deg, #001656 7.32%, #0172fa);
            background-size: cover;

            .home-image {
                width: 100%;
                height: 100%;

                opacity: 0;
                transform: translateY(50%);
                animation: slideIn 1s ease-out forwards;
                @keyframes slideIn {
                    0% {
                        opacity: 0;
                    }
                    100% {
                        opacity: 1;
                        transform: translateX(0);
                    }
                }

                .home,
                .blink1,
                .blink2,
                .text,
                .sub-text {
                    z-index: 2;
                }

                .home,
                .blink1,
                .blink2,
                .text,
                .sub-text,
                .border {
                    position: absolute;
                }

                .home {
                    width: 527.125px;
                    height: 452.369px;
                    animation: slideUp ease-in 1s forwards;
                    @keyframes slideUp {
                        0% {
                            opacity: 0;
                        }
                        100% {
                            opacity: 1;
                            transform: translate(152.315px, 200.787px);
                        }
                    }
                }

                .blink1,
                .blink2 {
                    width: 60px;
                    height: 60px;
                }

                .blink1 {
                    animation: blink1SlideUp ease-in 1s forwards;
                    @keyframes blink1SlideUp {
                        0% {
                            opacity: 0;
                        }
                        100% {
                            opacity: 1;
                            transform: translate(418.577px, 130.359px);
                        }
                    }
                }

                .blink2 {
                    transform: translate(659.619px, 111.52px);
                    animation: blink2SlideUp ease-in 1s forwards;
                    @keyframes blink2SlideUp {
                        0% {
                            opacity: 0;
                        }
                        100% {
                            opacity: 1;
                            transform: translate(659.619px, 111.52px);
                        }
                    }
                }

                .text,
                .sub-text {
                    width: 350px;
                    height: 100px;
                    font-size: 50px;
                    font-weight: 700;
                    font-family: $henryPenny;
                    text-transform: uppercase;
                    line-height: 80px;
                    letter-spacing: 2px;
                }

                .text {
                    background: radial-gradient(218.93% 138.81% at 100% 98.77%, #ffffff 0, #02771f 50%, #a5ffaf 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;

                    animation: textIn ease-in 1s forwards;
                    @keyframes textIn {
                        0% {
                            opacity: 0;
                        }
                        100% {
                            opacity: 1;
                            transform: translate(472.018px, 126.616px) rotate(15.3198deg);
                        }
                    }
                }

                .sub-text {
                    background: radial-gradient(218.93% 138.81% at 100% 98.77%, #ffffff 0, #e83200 50%, #000000 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;

                    animation: subText ease-in 1s forwards;
                    @keyframes subText {
                        0% {
                            opacity: 0;
                        }
                        100% {
                            opacity: 1;
                            transform: translate(467.018px, 191.616px) rotate(15.3198deg);
                        }
                    }
                }

                .border {
                    width: 573.525px;
                    height: 432.56px;
                    transform: translate(161.57px, 175.477px) rotate(-9.67526deg);
                    background-color: rgb(214, 231, 247);
                    border-radius: 20px;
                    z-index: 1;
                    box-shadow: 0px 0px 200px rgb(255 255 255 / 51%);
                }
            }

            .banner-content {
                animation: titleIn ease-in 1s forwards;
                @keyframes titleIn {
                    0% {
                        opacity: 0;
                        transform: translateY(100%);
                    }
                    100% {
                        opacity: 1;
                        transform: translateY(0);
                    }
                }

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                .title {
                    font-family: $playWrite;
                    font-size: 80px;
                    color: #fff;
                    text-align: center;
                    line-height: 120px;
                }

                .see-more-btn {
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    border: none;
                    padding: 20px;
                    margin-top: 50px;
                    text-transform: uppercase;
                    text-decoration: none;
                    font-weight: 700;
                    border-radius: 30px;
                    letter-spacing: 1px;
                    color: rgb(0, 74, 173);
                    background-color: white;
                    box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.5);
                    cursor: pointer;
                    transition: transform 0.3s ease-in-out;
                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }
        .course {
            width: 100%;
            height: 48rem;
            position: relative;
            border-radius: 20px;
            background-color: rgb(247 250 252);
            top: -65px;
            .sub-title {
                text-align: center;
                font-family: $dongle;
                // letter-spacing: 15px;
                font-weight: 700;
                font-size: 100px;
                line-height: 79px;
                color: rgb(76, 95, 223);
                padding: 85px;

                &.show {
                    animation: courseIn ease-in 1s forwards;
                    @keyframes courseIn {
                        0% {
                            opacity: 0;
                        }
                        100% {
                            opacity: 1;
                        }
                    }
                }
            }

            .course-list {
                display: flex;
                color: white;
                gap: 20px;
                width: 80%;
                text-align: center;
                justify-content: center;
                margin: 0 auto;
                .course-item {
                    display: flex;
                    flex-direction: column;
                    width: 22%;
                    height: 20rem;
                    padding: 40px 10px;
                    row-gap: 15px;
                    border-radius: 20px;
                    &:first-of-type {
                        background-image: radial-gradient(218.93% 138.81% at 100% 98.77%, #0029ff 0, #1479f3 50%, #47b7f7 100%);
                    }
                    &:nth-child(2) {
                        background-image: radial-gradient(99.48% 132.1% at 2.5% 100%, #002ea6 0, #0047ff 100%);
                    }
                    &:nth-child(3) {
                        background-image: radial-gradient(218.93% 138.81% at 100% 98.77%, #0029ff 0, #1479f3 50%, #3d91c2 100%);
                    }
                    &:nth-child(4) {
                        background-image: linear-gradient(219deg, #2b25d2 4.72%, #496aff 95.59%);
                    }
                }

                .course-title {
                    font-family: $dongle;
                    font-size: 45px;
                    line-height: 30px;
                    height: 3.75rem;
                    margin-bottom: 10px;
                }

                .course-description {
                    height: 6.25rem;
                }

                .course-button {
                    .course-icon {
                        width: 40px;
                        height: 40px;
                        transform: rotate(270deg);
                        color: white;
                    }
                }
            }
        }
    }
}
