@import '../../Variables.scss';
.container {
    display: flex;
    gap: 5%;
    position: relative;
    top: 85px;
    font-size: 14px;
}

.content {
    width: 80%;
}

.title {
    margin-bottom: 15px;
    color: $primary-color;
}

@media (max-width: $breakpoint-sm) {
    .container {
        flex-direction: column;
        padding: 0 20px 40px;
    }
}
