@import '../../Variables.scss';

.container {
    display: flex;
    gap: 100px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.column,
.next-step {
    width: 400px;
}

.content {
    font-size: 16px;
    &.price,
    &.total {
        display: flex;
        justify-content: space-between;
    }
}

.title {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
}

input.content,
.content input {
    outline: none;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 10px;
}

input.content:read-only {
    background-color: rgba(198, 198, 198, 0.247);
    cursor: not-allowed;
}

.discount {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    border: 1px solid rgb(0 0 0 / 25%);
    border-radius: 10px;
    position: relative;

    input {
        width: 90%;
    }
}

.icon {
    width: 10%;
    height: 19px;
    position: absolute;
    right: 0;
    cursor: pointer;
}

.discount-value {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.btn-submit {
    margin-top: 10px;
}

.next-step .content {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

@media (max-width: $breakpoint-sm) {
    .container {
        flex-wrap: wrap;
        gap: 30px;
    }

    .column {
        width: 100%;
    }

    .title {
        display: flex;
        justify-content: left;
        gap: 10px;
    }
}

@media (min-width: ($breakpoint-sm + 1px)) and (max-width: $breakpoint-m) {
    .title {
        display: flex;
        justify-content: left;
        gap: 10px;
    }

    .container {
        display: flex;
        flex-direction: column;
        gap: 35px;
    }
}
