.success {
    margin: 50px auto;
    padding: 20px;
    max-width: 1200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;

    a {
        text-decoration: underline;
        color: #007bff;
        transition: all 0.3s;

        &:hover {
            color: #c92222;
        }
    }
}
