@import '../../Variables.scss';

.wrapper {
    position: relative;
    margin-top: 100px;
    padding: 0 50px;
    background: $primary-background;
    color: $footer-color;
    background-size: 400% 400%;
    animation: hologramMove 10s infinite linear;
}

@keyframes hologramMove {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.container {
    display: flex;
    padding: 50px 0;
    gap: 30px;
}

.logo {
    width: 200px;
    height: 30px;
}

.content {
    width: calc(100% / 5);
}

.content:first-child {
    margin-right: 50px;
    .description {
        cursor: default;
    }
}

.title {
    font-size: 16px;
    font-weight: 700;
    cursor: default;
    text-transform: uppercase;
}

.description {
    font-size: 14px;
    margin: 10px 0;
    cursor: pointer;
}

.description > span {
    position: relative;

    &:after {
        content: '';
        display: block;
        border-bottom: 1px solid $footer-color;
        width: 0;
        height: 1px;
        position: absolute;
        bottom: -5px;
        left: 0;
        transition: all 0.5s ease-in-out;
    }

    &:hover:after {
        width: 100%;
    }
}

.copy-right {
    text-align: center;
}
